### PYTHON SQL 2

Objetivos:

Durante la clase de pair programming de ayer nos creamos nuestra primerita BBDD desde cero en Workbench. En el ejercicio de hoy volveremos a crear esa misma BBDD, pero esta vez desde Python.

-  NOTA Cambiad el nombre de la BBDD a mi_primerita_BBDD_Python
-  NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c贸digo una y otra vez. Para evitar esto, crearos una funci贸n que nos sirva para crear tablas independientemente del contenido de la tabla. La funci贸n recibir谩 como par谩metros:

-   Contrase帽a de la conexi贸n al servidor.
-  Query para crear la tabla.

 NOTA En la 煤ltima tabla (Facturas) tendremos que incluir todos los CONSTRAINT necesarios para establecer los relaciones entre las tablas, donde tendremos que especificar:
- Foreign Key
- References

In [1]:
#creamos la base de datos
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [5]:
#creamos funcion para la creaci贸n de tablas y la conexi贸n al servidor

def conexion (contrase帽a, query):

    cnx = mysql.connector.connect(user='root', password= {"contrase帽a"},
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


mycursor = cnx.cursor()

query_zapatillas = "(CREATE TABLE Zapatillas (idZapatillas PRIMARY KEY INT AUTO_INCREMENT NOT NULL, modelo VARCHAR(45) NOT NULL, color VARCHAR(45) NOT NULL, talla INT NOT NULL));"
query_clientes = """(CREATE TABLE Clientes (idClientes PRIMARY KEY INT AUTO_INCREMENT NOT NULL, nombre VARCHAR(45) NOT NULL, numero_telefono INT(9) NOT NULL, email VARCHAR(45) NOT NULL,
direccion VARCHAR(45) NOT NULL, provincia VARCHAR(45) NOT NULL, pais VARCHAR(45) NOT NULL, codigo_postal INT(9) NOT NULL));"""
query_empleados = """(CREATE TABLE Empleados (idEmpleado PRIMARY KEY INT AUTO_INCREMENT NOT NULL, nombre VARCHAR(45) NOT NULL, tienda VARCHAR(45) NOT NULL, salario FLOAT NULL, fecha_incorporacion DATE NOT NULL));"""
query_facturas = """(CREATE TABLE Facturas (idFactura PRIMARY KEY INT AUTO_INCREMENT NOT NULL, idEmpleados INT, NOT NULL, CONSTRAINT fk_facturas_empleados FOREIGN KEY(idEmpleados) 
REFERENCE empleados (idEmpleados) ON DELETE cascade ON UPDATE cascade, idCliente INT, NOT NULL, CONSTRAINT fk_facturas_cilientes FOREIGN KEY(idClientes) 
REFERENCE clientes (idClientes) ON DELETE cascade ON UPDATE cascade, idZapatillas INT, NOT NULL, CONSTRAINT fk_facturas_zapatillas FOREIGN KEY(idZapatillas) 
REFERENCE zapatillas (idZapatillas) ON DELETE cascade ON UPDATE cascade,fecha DATE NOT NULL, total FLOAT NOT NULL));"""

try:

    if "query" == query_zapatillas:

    mycursor.execute (query_zapatillas)

contador_indice = 0
for nombre_tabla in valores:
    nombre_tabla = valores.keys([contador_indice])
    valores_datos = valores.values([contador_indice])
    contador_indice += 1




    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1939452032.py, line 11)