### PYTHON SQL 2

Objetivos:

Durante la clase de pair programming de ayer nos creamos nuestra primerita BBDD desde cero en Workbench. En el ejercicio de hoy volveremos a crear esa misma BBDD, pero esta vez desde Python.

-  NOTA Cambiad el nombre de la BBDD a mi_primerita_BBDD_Python
-  NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c贸digo una y otra vez. Para evitar esto, crearos una funci贸n que nos sirva para crear tablas independientemente del contenido de la tabla. La funci贸n recibir谩 como par谩metros:

-   Contrase帽a de la conexi贸n al servidor.
-  Query para crear la tabla.

 NOTA En la 煤ltima tabla (Facturas) tendremos que incluir todos los CONSTRAINT necesarios para establecer los relaciones entre las tablas, donde tendremos que especificar:
- Foreign Key
- References

In [9]:
#creamos la base de datos
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1007 (HY000): Can't create database 'mi_primerita_bbdd_python'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'mi_primerita_bbdd_python'; database exists

In [12]:
#creamos funcion para la creaci贸n de tablas y la conexi贸n al servidor:

def conexion (contrase帽a, query):

    cnx = mysql.connector.connect(user='root', password= contrase帽a,
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')
    mycursor = cnx.cursor()

    try:
        mycursor.execute(query)
        print(mycursor)

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    else:
        cnx.close()

    print ("la tabla ha sido creada")

In [49]:
#definimos queries y contrase帽a para juntar la informaci贸n que utilizaremos para llamar a la funci贸n:

contrase帽a = "AlumnaAdalab"

query_zapatillas = """CREATE TABLE IF NOT EXISTS Zapatillas (
                        idZapatillas INT NOT NULL AUTO_INCREMENT, modelo VARCHAR(45) NOT NULL, color VARCHAR(45) NOT NULL, talla INT NOT NULL, 
                        PRIMARY KEY(idZapatillas));"""
    
query_clientes = """CREATE TABLE IF NOT EXISTS Clientes (
                        idClientes INT AUTO_INCREMENT NOT NULL, nombre VARCHAR(45) NOT NULL, numero_telefono INT(9) NOT NULL, 
                        email VARCHAR(45) NOT NULL, direccion VARCHAR(45) NOT NULL, provincia VARCHAR(45) NOT NULL, 
                        pais VARCHAR(45) NOT NULL, codigo_postal INT(9) NOT NULL, PRIMARY KEY (idClientes));"""
    
query_empleados = """CREATE TABLE IF NOT EXISTS Empleados (
                        idEmpleado INT AUTO_INCREMENT NOT NULL, nombre VARCHAR(45) NOT NULL, tienda VARCHAR(45) NOT NULL,
                        salario FLOAT NULL, fecha_incorporacion DATE NOT NULL, PRIMARY KEY (idEmpleado));"""
    
query_facturas = """ CREATE TABLE IF NOT EXISTS Facturas (
                        idFactura INT NOT NULL AUTO_INCREMENT, idEmpleado INT NOT NULL, idClientes INT NOT NULL, idZapatillas INT NOT NULL,
                        fecha DATE NOT NULL, total FLOAT NOT NULL, 
                        PRIMARY KEY (idFactura), 
                        CONSTRAINT fk_Facturas_Zapatillas FOREIGN KEY (idZapatillas) REFERENCES Zapatillas (idZapatillas),
                        CONSTRAINT fk_Facturas_Clientes FOREIGN KEY (idClientes) REFERENCES Clientes (idClientes),
                        CONSTRAINT fk_Facturas_Empleados FOREIGN KEY (idEmpleado) REFERENCES empleados (idEmpleado) );"""

In [19]:
#llamamos a la funci贸n para crear la tabla zapatillas:

conexion(contrase帽a, query_zapatillas)

MySQLCursor: CREATE TABLE Zapatillas (
              ..
la tabla ha sido creada

In [21]:
#llamamos a la funci贸n para crear la tabla clientes:

conexion(contrase帽a, query_clientes)

MySQLCursor: CREATE TABLE Clientes (idClientes INT AU..
la tabla ha sido creada

In [22]:
#llamamos a la funci贸n para crear la tabla empleados:

conexion(contrase帽a, query_empleados)

MySQLCursor: CREATE TABLE Empleados (idEmpleado INT A..
la tabla ha sido creada

In [50]:
#llamamos a la funci贸n para crear la tabla facturas:
conexion(contrase帽a, query_facturas)

1050 (42S01): Table 'facturas' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'facturas' already exists
la tabla ha sido creada