
Objetivos



Hagamos unas queries facilitas:
Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.
Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.
Para finalizar el ejercicio, desconectad la conexión con el servidor.

1)Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [2]:
#import mysql.connector
mydb = mysql.connector.connect( 
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='tienda')

mycursor = mydb.cursor()


mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('alumnas_adalab',)
('creacion_tienda',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('modulo1_alteracion_de_tablas',)
('mysql',)
('nba-data',)
('northwind',)
('performance_schema',)
('Project_1',)
('sakila',)
('spotify',)
('sys',)
('tienda',)
('tienda_zapatillas',)
('world',)

2)Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. Guarda el resultado de los nombres de la tablas en una lista.

In [16]:
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind'
)

mycursor = mydb.cursor()



mycursor.execute("SHOW TABLES")

for x in mycursor:
 
  tablas_northwind = x
  print (tablas_northwind)

('categories',)
('customer_customer_demo',)
('customer_demographics',)
('customers',)
('employee_territories',)
('employees',)
('order_details',)
('orders',)
('products',)
('region',)
('shippers',)
('suppliers',)
('territories',)

3)¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

In [22]:
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind')



mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM employees")

#x= cada una de las tablas de northwind
#mycursor = toda mi base de datos Northwind
# i = las columnas de cada una de las tablas.

for x  in :
  for i in x:
    
    query =("SELECT %i FROM %x ")
    nombre_columnas = mycursor.execute (query,x,i)
    print(nombre_columnas)

# le decimos a Python que nos devuelva todos los resultados de la query usando el método fetchall

InternalError: Unread result found

In [26]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA = 'northwind'" # en este caso tendremos que especificar que queremos información del esquema
)

# iniciamos el cursor
mycursor = mydb.cursor()

## ejecutamos nuestra query, especificando de que tabla queremos la información
mycursor.execute("SELECT * FROM COLUMNS")

for x in mycursor:
  print(x)

ProgrammingError: 1049 (42000): Unknown database 'information_schema = 'northwind''